<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"

 >  

<head>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/cs/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>

	<nav class="navbar navbar-dark bg-primary">
		<a class="navbar-brand" >
			<img src="/image/LapesLogoIFMT.png" width="100" height="50" alt="Lapes IFMT"/>
		</a>
	</nav>
	
	<section layout:fragment="conteudo">
		<p> Conteudo principal </p>
	</section>
	
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/popper.min.js"></script>	
</body>
</html>