<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" 
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{LayoutPadrao}"
 >
<head>
	<!--
     	<link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
              crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
                crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" 
                crossorigin="anonymous"></script>
       -->           
              
<meta charset="UTF-8">
<title>Pesquisa</title>
</head>
<body>
	<section layout:fragment="conteudo">
	
	<div th:replace="Mensagem"> </div>
	
		<div class="card">
			<div class="card-header tux-titulo-panel">
				<span class="tux-titulo-panel">Novo Titulo</span>
			</div>
			<div class="card-body">
				<table class="table table-border table-striped">
					<thead>
						<tr>
							<th scope="col" class="text-center">#</th>
							<th scope="col"> Descricao</th>
							<th scope="col" class= "text-left"> Data de Vencimento</th>
							<th scope="col" class= "text-right"> Valor</th>
							<th scope="col" class= "text-center"> Status</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr scope="row"  th:each="titulo : ${titulos}">
							<td class="text-center" th:text="${titulo.codigo}"></td>
							<td th:text="${titulo.descricao}"></td>
							<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
							<td class="text-right"  th:text="|R$ ${{titulo.valor}}"></td>
							<td class="text-center">
							 	<span class="badge" th:text="${titulo.status.descricao}" 
							 	th:classappend="${titulo.pendente ? 'badge rounded-pill bg-danger' : 'badge rounded-pill bg-success'}"></span></td>
							
								<td class="text-center">
									<a th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}"> <i class="material-icons">edit</i></a>
									
							
									
									<button type="button" data-toggle="modal" data-target="#confirmacaoExclusaoModal" 
									 th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}"
									 class="btn btn-link" title="Excluir" >
									<i class="material-icons">delete</i>
									</button>
																		
								</td>
													
						</tr>		
						<tr>
							<!-- Nessa caso so ira aparecer se a condiçao for atendida, deixando entao dinamica -->
							<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum registro encontrado.</td>
						</tr>
					</tbody>					
				</table>		
			</div>
			<div layout:insert="DialogoConfirmacaoExclusao"></div>
		</div>
		
</section>





</body>
</html>