@charset "UTF-8";
*{margin:0; padding:0; box-sizing:border-box; text-decoration:none; }

nav{
	height:90px;
	color:#fff;
	text-transform:uppercase
	
}
a{
cursor:pointer;
font-weight: bold;
}

a.btn-nav:hover{
	color:#BA68C8;
}
a:visited{
	color:inherit;
}
tbody a:visited{
	color:#fff;
}	
.new-section{
	min-height:750px;
	background-position: center;
	background-size:cover !important;	
	background-repeat:no-repeat;
	width:100%;
	padding:30px;
	position:relative;
}
.clear{
	clear:both;
}
.center{
	text-align:center;
}
.wm{
	width:50%;
	float:left;
}
.new-container{
	max-width:1280px;
	padding:2% 2%;
	margin:0 auto;
	margin-top:200px;
}

.sombra{
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:absolute;
	background: rgba(0,0,0,0.7);
	z-index:2;
}

.new-section > .new-container{
	position: relative;
	z-index:5;
}

.text-center{
	color:#fff;
	font-size: 3em;
	font-family:'Ubuntu';
	font-weight:bold;
	text-shadow: black 0.1em 0.1em 0.2em;
}
.botao{
	width:280px;
	color:#fff;
	border-radius:10px;
	border:3px solid #a55eea;
	padding:20px;
	font-weight:bold;
	
}
.botao:hover{

	color:#CE93D8;
	background-color:rgba(0,0,0,0.5)
}
.botoes{
	padding:2% 15%;
}

.rodape{
	color:#fff;
	background-color:#4527A0;
	text-align:center;
	font-size: 1.25em;
	padding:15px;
	
}

/*Respondivo*/

@media screen and (max-width:667px){
	.wm{
	width:100%;
	}
	
	nav{
	height:100%;}
	.new-container{margin-top:120px}
}